{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <form class="row" method="POST" enctype="multipart/form-data">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card shadow-sm">
                <h3 class="card-title">
                    Вход
                </h3>
                <div class="card-body">
                    {% csrf_token %}
                    {% crispy form %}
<!--                    {{ form.as_p|crispy }}-->
                    <button type="submit" class="btn btn-primary">
                        Войти
                    </button>
                    <a href="{% url 'users:password_reset' %}"
                    class="btn btn-primary">Восстановить пароль?</a>
                </div>
            </div>
        </div>

    </form>
</div>
{% endblock %}