{% extends 'catalog/base.html' %}

{% block content %}
<form class="row" method="POST">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card shadow-sm">
            <h3>Восстановление пароля</h3>


            {% csrf_token %}
            {% for f in form %}
            <p><label class="form-label">{{f.label}}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}

            <p>
                <button type="submit" class="btn btn-primary">Сбросить по E-mail</button>
            </p>

        </div>
    </div>
</form>
{% endblock %}