<!doctype html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="{% static 'catalog/css/bootstrap.min.css' %}" rel="stylesheet"
          crossorigin="anonymous">
</head>

<body>
{% include 'catalog/includes/inc_menu.html' %}

<script src="{% static 'catalog/js/bootstrap.bundle.min.js' %}"
        crossorigin="anonymous"></script>

{% block content %} {% endblock %}
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            Education
            <small class="d-block mb-3 text-muted">&copy; 2024</small>
        </div>
        <div class="col-6 col-md">
            <h5>О нас</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="/contacts/">Контакты</a></li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>