<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="{% static 'catalog/css/bootstrap.min.css' %}" rel="stylesheet"
          crossorigin="anonymous">
</head>

<body>
{% include 'catalog/includes/inc_menu.html' %}

<script src="{% static 'catalog/js/bootstrap.bundle.min.js' %}"
        crossorigin="anonymous"></script>

{% block content %} {% endblock %}

<!--{% if page_obj.has_other_pages %}-->
<!--<nav class="list-pages">-->
<!--    <ul>-->
<!--        {% if page_obj.has_previous %}-->
<!--        <li class="page-num">-->
<!--            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>-->
<!--        </li>-->
<!--        {% endif %}-->
<!--        {% for p in paginator.page_range %}-->
<!--        {% if page_obj.number == p %}-->
<!--        <li class="page-num page-num-selected">{{ p }}</li>-->
<!--        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}-->
<!--        <li class="page-num">-->
<!--            <a href="?page={{ p }}">{{ p }}</a>-->
<!--        </li>-->
<!--        {% endif %}-->
<!--        {% endfor %}-->
<!--        {% if page_obj.has_next %}-->
<!--        <li class="page-num">-->
<!--            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>-->
<!--        </li>-->
<!--        {% endif %}-->
<!--    </ul>-->
<!--</nav>-->
<!--{% endif %}-->
<!--<div class="pagination">-->
<!--    <span class="step-links">-->
<!--        {% if page_obj.has_previous %}-->
<!--            <a href="?page=1">&laquo; first</a>-->
<!--            <a href="?page={{ page_obj.previous_page_number }}">previous</a>-->
<!--        {% endif %}-->

<!--        <span class="current">-->
<!--            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.-->
<!--        </span>-->

<!--        {% if page_obj.has_next %}-->
<!--            <a href="?page={{ page_obj.next_page_number }}">next</a>-->
<!--            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>-->
<!--        {% endif %}-->
<!--    </span>-->
<!--</div>-->
</body>
</html>