<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="{% static 'catalog/css/bootstrap.min.css' %}" rel="stylesheet"
           crossorigin="anonymous">
</head>

<body>
{% include 'catalog/includes/inc_menu.html' %}

<script src="{% static 'catalog/js/bootstrap.bundle.min.js' %}"
        crossorigin="anonymous"></script>

{% block content %} {% endblock %}
</body>
</html>