{% extends 'catalog/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Наш магазин</h1>
    <p class="lead">Наш магазин - это отличный вариант покупки чего нибудь!</p>
</div>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h4 class="display-4">Новые товары</h4>
    <table class="table table-striped">
     <thead><th>Id</th><th>Наименование</th><th>Цена</th><th></th></thead>
        {% for last_product in last_products %}
        <tr>
            <td>{{ last_product.id }}</td>
            <td>{{ last_product.name }}</td>
            <td>{{ last_product.price }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
