{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <form class="row" method="POST" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card shadow-sm">
                <h3 class="card-title">
                    {% if object %}
                    Редактирование товара
                    {% else %}
                    Создание товара
                    {% endif %}
                </h3>
                <div class="card-body">
                    {% csrf_token %}
<!--                    {% crispy form %}-->
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">
                        {% if object %}
                        Сохранить
                        {% else %}
                        Создать
                        {% endif %}
                    </button>
                </div>
            </div>
        </div>
        {% if object %}
        <div class="col-6">
            <div class="card">
                <h3 class="card-title">
                    {% if object.versions %}
                    Версии товара
                    {% else %}
                    Создание версии товара
                    {% endif %}
                </h3>
                <h4>
                    Только одна версия товара может быть текущей!
                </h4>

                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
<!--                        {% crispy formset.management_form %}-->
                        {{ formset.management_form}}
                        {% for form in formset.forms %}
                        {{ form.as_p }}
<!--                        {% crispy form %}-->
                        {% if not forloop.last %}
                            <hr>
                        {% endif %}
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}