{% extends 'catalog/base.html' %}
{% load my_tags%}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <div class="col-lg-12 col-md-6 col-sm-12">
        <div class="card text-center" style="width: 24rem;">
            <img src="{{ object.image|mymedia }}" class="card-img-top" alt="Нет картинки">
            <div class="card-body">
                <h5 class="card-title">{{ object.name }}</h5>
                <p class="card-text">{{ object.description }}</p>
                <p class="card-text">{{ object.price }} руб.</p>

                {% if perms.catalog.change_category and perms.catalog.change_description and perms.catalog.set_published or object.parent == user or user.is_superuser %}
                <a href="{% url 'catalog:product_update' object.pk %}"
                   class="p-2 btn btn-outline-primary">Редактировать</a>
                {% endif %}
                {% if object.parent == user or user.is_superuser %}
                <a href="{% url 'catalog:product_delete' object.pk %}" class="p-2 btn btn-outline-primary">Удалить</a>
                {% endif %}
            </div>
            {% if object.parent %}
                <p class="card-text">Этот товар может редактировать пользователь {{ object.parent }}</p>
            {% else %}
                <p class="card-text">Этот товар может редактировать только superuser!</p>
            {% endif %}
            {% if perms.catalog.change_category and perms.catalog.change_description and perms.catalog.set_published or object.parent == user or user.is_superuser %}
            <div class="btn-group">
                <a type="button" href="{% url 'catalog:version_create' %}"
                   class="p-2 btn btn-outline-primary">Добавить версию продукта</a>
                {% if object.versions.exists %}
                <a type="button" href="{% url 'catalog:versions' pk=object.pk %}"
                   class="p-2 btn btn-outline-primary">Просмотр версий</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}